div{
    background-color:cyan;
    padding: 20px;
}
.link{
    text-decoration: none;
    align-items: flex-start;
    margin:5px;
}
span{
    font-size: 40px;
}
a:link{
    color:green;
}
a:hover{
    color:blue;
}
a:hover{
    color:purple;
}
a:active{
    color:salmon;
}
